@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Square';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 5px black;
}
