@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Square';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    width: 100vw;
}

.container h1 {
    text-align: center;
}

.panel-container {
    display: flex;
    width: 100vw
}

.panel {
    height: 10vh;
    flex: 1;
    background-color: aqua;
    transition: flex 0.7s ease-in;
    position: relative;
    margin: 10px;
    border-radius: 20px;
}

.panel h1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 1px 5px black;
    position: absolute;
    margin: 0;
    opacity: 0;
    bottom: 25px;
    left: 5px;
}

.panel.active {
    flex: 5;
}

.panel.active h1 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}


@media (max-width: 480px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5) {
        display: none;
    }

}
